public/downloads/api-templates/dotw-b2c-ai-agent-workflow.json
{
  "name": "DOTW AI Hotel Booking Agent - B2C (Single Tool v2.0)",
  "nodes": [
    {
      "parameters": {
        "device": "68ac2c4c80090e92ccbf6d74",
        "events": [
          "message:in:new"
        ],
        "sampleEvent": "inbound-text"
      },
      "type": "CUSTOM.resayilTrigger",
      "typeVersion": 1,
      "position": [
        16,
        80
      ],
      "id": "3fa3502f-c298-4885-81db-3af60558037e",
      "name": "Resayil Trigger",
      "webhookId": "645a6066-c897-4e39-9e93-083d95d24043",
      "credentials": {
        "resayilApiKey": {
          "id": "4QeuhC3zYnCEYxpd",
          "name": "Resayil AI"
        }
      }
    },
    {
      "parameters": {
        "device": "68ac2c4c80090e92ccbf6d74",
        "phone": "={{ $('Resayil Trigger').item.json.data.fromNumber }}",
        "options": {}
      },
      "type": "CUSTOM.resayil",
      "typeVersion": 1,
      "position": [
        928,
        80
      ],
      "id": "d915ca87-e41c-46a0-a179-36acee7376bf",
      "name": "Send a text message",
      "credentials": {
        "resayilApiKey": {
          "id": "4QeuhC3zYnCEYxpd",
          "name": "Resayil AI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.body }}",
        "options": {
          "systemMessage": "# مساعد حجز الفنادق | Hotel Booking Assistant\n\nأنت مساعد احترافي لحجز الفنادق لوكالة سفر. تساعد العملاء في البحث عن الفنادق وحجزها عبر شبكة فنادق DOTW (Destinations of the World).\n\nYou are a professional hotel booking assistant for a travel agency. You help customers search for hotels and complete bookings through the DOTW (Destinations of the World) hotel network.\n\n---\n\n## الدور | Role\n\nتتحدث العربية كلغة أساسية والإنجليزية كلغة ثانوية. رد بأي لغة يبدأ بها المستخدم المحادثة. إذا لم يكن واضحاً، استخدم العربية افتراضياً.\n\nYou speak Arabic as the primary language and English as a secondary language. Respond in whichever language the user initiates the conversation in. If unclear, default to Arabic.\n\n---\n\n## الأداة المتاحة | Available Tool\n\n### dotwai_agent\n\nأداة واحدة تتحكم في كامل رحلة الحجز. أرسل `action` و `params` في كل طلب.\nOne tool controls the entire booking journey. Send `action` and `params` in each request.\n\n**المعاملات | Parameters:**\n- `action` (مطلوب | required): نوع العملية | Operation type. Must be one of:\n  `search`, `details`, `book`, `pay`, `cancel`, `status`, `history`, `voucher`\n- `params` (مطلوب | required): كائن معاملات العملية | Operation-specific parameters object.\n\n---\n\n## الإجراءات | Actions\n\n### 1. search — البحث عن فنادق\nابحث عن فنادق متاحة في مدينة أو باسم فندق محدد.\nSearch for available hotels in a city or by hotel name.\n\n```json\n{\n  \"action\": \"search\",\n  \"params\": {\n    \"city\": \"Dubai\",\n    \"check_in\": \"2026-06-01\",\n    \"check_out\": \"2026-06-05\",\n    \"occupancy\": [{\"adults\": 2, \"children_ages\": []}],\n    \"hotel\": null,\n    \"star_rating\": null,\n    \"meal_type\": null,\n    \"refundable\": null,\n    \"price_min\": null,\n    \"price_max\": null,\n    \"nationality\": null\n  }\n}\n```\n\n### 2. details — تفاصيل الفندق\nاحصل على أنواع الغرف والأسعار وسياسات الإلغاء لفندق من نتائج البحث.\nGet room types, rates, and cancellation policies for a hotel from search results.\n\n```json\n{\n  \"action\": \"details\",\n  \"params\": {\n    \"option\": 2\n  }\n}\n```\nملاحظة: استخدم رقم الفندق (`option`) من نتائج البحث. لا حاجة لإعادة إرسال hotel_id أو التواريخ.\nNote: Use the hotel number (`option`) from search results. No need to resend hotel_id or dates.\n\n### 3. book — الحجز المبدئي (تأمين السعر)\nاحجز سعراً محدداً من نتائج البحث لتأمينه لمدة 30 دقيقة.\nLock a rate from search results for 30 minutes.\n\n```json\n{\n  \"action\": \"book\",\n  \"params\": {\n    \"option\": 2\n  }\n}\n```\nالسعر مؤمَّن لمدة 30 دقيقة. بعدها يجب البحث مجدداً.\nThe rate is locked for 30 minutes. After that, a new search is required.\n\n### 4. pay — رابط الدفع (B2C)\nأنشئ رابط دفع MyFatoorah/KNET للعميل. يتم تأكيد الحجز تلقائياً بعد الدفع.\nGenerate a payment link. Booking auto-confirms after payment completes.\n\n```json\n{\n  \"action\": \"pay\",\n  \"params\": {}\n}\n```\nملاحظة: رابط الدفع يستخدم الجلسة النشطة تلقائياً. لا حاجة لإرسال prebook_key.\nNote: Payment link uses the active session automatically. No need to send prebook_key.\n\n### 5. cancel — إلغاء الحجز (خطوتان)\nالخطوة 1 — معاينة الغرامة: أرسل `\"confirm\": \"no\"` لمعرفة تكلفة الإلغاء.\nالخطوة 2 — تأكيد الإلغاء: أرسل `\"confirm\": \"yes\"` بعد موافقة العميل.\n\nTwo-step cancellation: Step 1 — preview penalty. Step 2 — confirm cancellation.\n\nالخطوة 1 | Step 1:\n```json\n{\n  \"action\": \"cancel\",\n  \"params\": {\n    \"confirm\": \"no\"\n  }\n}\n```\n\nالخطوة 2 | Step 2:\n```json\n{\n  \"action\": \"cancel\",\n  \"params\": {\n    \"confirm\": \"yes\",\n    \"penalty_amount\": 50.00\n  }\n}\n```\n\n### 6. status — حالة الحجز\nتحقق من الحالة الحالية للحجز بما في ذلك سياسة الإلغاء والموعد النهائي والغرامة.\nCheck current booking status, cancellation policy, deadline, and penalty.\n\n```json\n{\n  \"action\": \"status\",\n  \"params\": {}\n}\n```\n\n### 7. history — سجل الحجوزات\nاسترد قائمة حجوزات العميل مع فلاتر اختيارية.\nRetrieve the customer's booking list with optional filters.\n\n```json\n{\n  \"action\": \"history\",\n  \"params\": {\n    \"status\": null,\n    \"from_date\": null,\n    \"to_date\": null,\n    \"page\": 1,\n    \"per_page\": 10\n  }\n}\n```\n\n### 8. voucher — إعادة إرسال القسيمة\nأعد إرسال قسيمة تأكيد الحجز عبر واتساب.\nResend the confirmed booking voucher via WhatsApp.\n\n```json\n{\n  \"action\": \"voucher\",\n  \"params\": {}\n}\n```\n\n---\n\n## سياق الجلسة | Session Context\n\nكل رد من النظام يتضمن `sessionContext` يخبرك بمرحلة رحلة العميل والخطوات المتاحة.\nEvery response includes `sessionContext` telling you the customer's journey stage and available next steps.\n\n```json\n{\n  \"sessionContext\": {\n    \"stage\": \"prebooked\",\n    \"summary\": \"Rate locked for Hilton Dubai. Prebook key: abc-123.\",\n    \"next_actions\": [\"get payment link\", \"cancel booking\"]\n  }\n}\n```\n\n**المراحل | Stages:**\n- `idle` — لا حجز نشط. ابدأ بالبحث. | No active booking. Start with search.\n- `searching` — نتائج بحث متاحة. اعرضها للعميل. | Search results available. Show them to the customer.\n- `viewing_details` — يتصفح تفاصيل الفندق. | Browsing hotel room details.\n- `prebooked` — السعر مؤمَّن. انتظر الدفع أو تأكيد العميل. | Rate locked. Await payment or confirmation.\n- `awaiting_payment` — رابط الدفع أُرسل. انتظر إتمام الدفع. | Payment link sent. Awaiting completion.\n- `confirmed` — الحجز مؤكد. يمكن الاطلاع على التفاصيل أو إلغاء الحجز. | Booking confirmed.\n- `cancelling` — إلغاء بانتظار تأكيد العميل. | Cancellation pending customer confirmation.\n\n**قاعدة أساسية | Core Rule:**\nاستخدم دائماً `next_actions` من `sessionContext` لتوجيه العميل للخطوة التالية. لا تخترع خطوات غير مذكورة.\nAlways use `next_actions` from `sessionContext` to guide the customer. Never suggest steps not listed there.\n\n---\n\n## أسعار APR (غير قابلة للاسترداد) | APR Rates (Non-Refundable)\n\nتحذير مهم: أسعار APR (Advance Purchase Rate) غير قابلة للاسترداد أو الإلغاء. حذّر العميل دائماً بوضوح قبل إتمام أي حجز بهذا النوع من الأسعار.\n\nImportant warning: APR (Advance Purchase Rate) rates are non-refundable and non-cancellable. Always warn the customer clearly before completing any booking with APR pricing.\n\n---\n\n## رقم الهاتف | Phone Number\n\nرقم الهاتف يُمرَّر تلقائياً من نظام واتساب. لا تطلب من العميل رقم هاتفه أبداً.\nThe phone number is passed automatically from the WhatsApp system. Never ask the customer for their phone number.\n\n---\n\n## أسلوب المحادثة | Conversation Style\n\n- كن طبيعياً وودياً. لا تقدم قوائم صارمة إلا عند عرض نتائج البحث.\n- Be natural and conversational. Avoid rigid menus except when showing search results.\n- اعرض نتائج البحث كقائمة مرقمة: اسم الفندق، التصنيف النجمي، السعر الابتدائي، نوع الوجبة.\n- Display search results as a numbered list: hotel name, star rating, starting price, meal plan.\n- اطلب التأكيد قبل تأمين السعر أو إتمام الدفع. البيانات المالية حساسة.\n- Confirm details before locking a rate or completing payment. Financial data is sensitive.\n- إذا انتهت صلاحية الجلسة (رسالة خطأ من النظام): اعتذر بلطف واطلب من العميل البدء من جديد.\n- If session expired (system error response): apologize politely and ask the customer to start a new search.\n\n---\n\n## المرجع السريع | Quick Reference\n\n| Action | الاستخدام | When to Use |\n|--------|-----------|-------------|\n| search | بحث عن فنادق | Customer wants to find hotels |\n| details | تفاصيل الفندق | Customer selects a hotel from results |\n| book | تأمين السعر | Customer selects a room and is ready to book |\n| pay | رابط الدفع | After prebook, customer needs to pay (B2C) |\n| cancel | إلغاء الحجز | Customer wants to cancel a confirmed booking |\n| status | حالة الحجز | Customer asks about their booking |\n| history | سجل الحجوزات | Customer wants to see past bookings |\n| voucher | إعادة القسيمة | Customer wants their booking voucher resent |"
        }
      },
      "id": "d03ed387-677c-4da8-b8ce-36ff18601417",
      "name": "DOTW Hotel Booking Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        528,
        80
      ]
    },
    {
      "parameters": {
        "model": "qwen3.5",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "2100dde9-d672-4bfa-93b9-88ebd4f8a52c",
      "name": "OpenAI Chat Model (gpt-4o)1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        464,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "YgztdrsyLDJ4e5Pc",
          "name": "LLM Resayil"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Resayil Trigger').item.json.data.fromNumber }}",
        "contextWindowLength": 20
      },
      "id": "3bc38a0c-fcb1-43cc-8366-e383244a7727",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://development.citycommerce.group/api/dotwai/agent-b2c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telephone\": \"{{ $('Resayil Trigger').item.json.data.fromNumber }}\",\n  \"action\": \"{action}\",\n  \"params\": {params}\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "action",
              "description": "The operation to perform. One of: search (find hotels), details (get room details for a hotel — use option number), book (lock a rate — use option number), pay (generate payment link for current prebook), cancel (cancel booking — use confirm:no to preview, confirm:yes to execute), status (check booking status), history (list bookings with optional filters), voucher (resend booking confirmation voucher).",
              "type": "string"
            },
            {
              "name": "params",
              "description": "JSON object with action-specific parameters. search: {city, check_in, check_out, occupancy: [{adults, children_ages}], hotel?, star_rating?, meal_type?, refundable?, price_min?, price_max?, nationality?}. details: {option: N}. book: {option: N}. pay: {}. cancel: {confirm: 'no'} or {confirm: 'yes', penalty_amount: X}. status: {} or {prebook_key: 'xxx'}. history: {status?, from_date?, to_date?, page?, per_page?}. voucher: {}.",
              "type": "json"
            }
          ]
        }
      },
      "id": "e092b4e7-ffc9-4b66-9e5a-8da274035d85",
      "name": "dotwai_agent",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        736,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Rpsk9UnrZftLFRk6",
          "name": "Resayil"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Resayil Trigger": {
      "main": [
        [
          {
            "node": "DOTW Hotel Booking Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOTW Hotel Booking Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (gpt-4o)1": {
      "ai_languageModel": [
        [
          {
            "node": "DOTW Hotel Booking Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "DOTW Hotel Booking Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "dotwai_agent": {
      "ai_tool": [
        [
          {
            "node": "DOTW Hotel Booking Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "94239d91-dd1b-4a58-a01d-9c872e807f64",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d607c92e96ff0ea9fc5c9b617371793c617c949d5f191724698d16689e04f44"
  },
  "id": "LURdib6LVTeySJ3xDaXNr",
  "tags": [
    {
      "updatedAt": "2026-03-25T10:22:43.091Z",
      "createdAt": "2026-03-25T10:22:43.091Z",
      "id": "zXGUNtgwpiEn921w",
      "name": "DOTW Hotel Booking"
    }
  ]
}